{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block body %}
<form id="login-form" hx-post="/login" hx-target="body" hx-indicator="#spinner">
    <div class="mb-2">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="username">Username</label>
        <input required type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="password">Password</label>
        <input required type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>

    <button
        type="submit"

        class="rounded-lg text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 px-2.5 py-2 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700
        focus:outline-none dark:focus:ring-blue-800 inline-flex items-center"
    >
        Login
        <span id="spinner" class="htmx-indicator">
            {% let spinner_color = "fill-blue-600" %}
            {% include "spinner.html" %}
        </span>
    </button>
</form>
<script>
    htmx.on('#login-form', 'htmx:configRequest', function(evt) {
        console.info(evt.detail.parameters.password);
        evt.detail.parameters.password = CryptoJS.SHA256(evt.detail.parameters.password).toString(CryptoJS.enc.Hex);
        console.info(evt.detail.parameters.password);
    });
</script>
{% endblock %}
